@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
:root {
    --main-white: whitesmoke;
    --blue: #457b9d;
}
#root {
    background: var(--main-white);
    height: 100vh;
}